:root {
  --Card_Main_Font: "Monomaniac One", sans-serif;
  --Card_Second_Font: "Varela Round", sans-serif;
  --Card_Name: 500px;
  --Card_Message: 26px;
  --Card_Wish: 200px;
  --Open_Card_Button: 16px;
}

.Card_Container {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.Card_Cover {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.Card_Cover--Quadrant_TL {
  position: absolute;
  width: 50dvw;
  height: 50dvh;
  top: 0dvh;
  left: 0dvw;
  background-color: rgb(25, 25, 25);
  transition: all 2s ease-in-out;
}

.Card_Cover--Quadrant_TR {
  position: absolute;
  width: 50dvw;
  height: 50dvh;
  top: 0dvh;
  left: 50dvw;
  background-color: rgb(25, 25, 25);
  transition: all 2s ease-in-out;
}

.Card_Cover--Quadrant_BL {
  position: absolute;
  width: 50dvw;
  height: 50dvh;
  top: 50dvh;
  left: 0dvw;
  background-color: rgb(25, 25, 25);
  transition: all 2s ease-in-out;
}

.Card_Cover--Quadrant_BR {
  position: absolute;
  width: 50dvw;
  height: 50dvh;
  top: 50dvh;
  left: 50dvw;
  background-color: rgb(25, 25, 25);
  transition: all 2s ease-in-out;
}

.Card_Cover--Quadrant_TL--Open {
  top: -50dvh;
  left: -50dvw;
}

.Card_Cover--Quadrant_TR--Open {
  top: -50dvh;
  left: 100dvw;
}

.Card_Cover--Quadrant_BL--Open {
  top: 100dvh;
  left: -50dvw;
}

.Card_Cover--Quadrant_BR--Open {
  top: 100dvh;
  left: 100dvw;
}

.Card_Cover--Open_Button {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_Cover--Open_Button button {
  font-family: var(--Card_Second_Font);
  font-size: var(--Open_Card_Button);
  letter-spacing: .4px;
  background-color: black;
  color: white;
  padding: .6em 1.4em;
  border-style: none;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 2px 2px white;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

.Card_Cover--Open_Button--Toggle button {
  scale: 0;
}

.Card_Cover--Open_Button--Inactive {
  display: none;
}

.Card_Main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
}

.Card_Message {
  background-color: black;
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card_Message--Inactive {
  display: none;
}

.Card_Message--Show {
  font-family: var(--Card_Second_Font);
  font-size: var(--Card_Message);
  letter-spacing: 3px;
  margin: .3em 0em;
  opacity: 1;
  transition: all .5s ease-in-out;
}

.Card_Message--Hide {
  font-family: var(--Card_Second_Font);
  font-size: var(--Card_Message);
  letter-spacing: 3px;
  margin: .3em 0em;
  opacity: 0;
}

.Card_Message--Two {
  color: red;
}

.Card_Name {
  background-color: black;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_Name--Character {
  font-family: var(--Card_Main_Font);
  font-size: var(--Card_Name);
  color: red;
}

.Card_Name--SpecialCharacter {
  color: white;
  scale: 1.1;
}

.Card_Photos {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card_Photos--Image {
  width: 650px;
}

.Card_Photos--Image img {
  width: 100%;
}

.Card_Photos--Image--Inactive {
  display: none;
}

.Card_Photos--Image--One {
  position: absolute;
  left: 100dvw;
  opacity: 0;
  animation-name: imageOne;
  animation-duration: 38s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

@keyframes imageOne {
  0% {
    left: -650px;
    opacity: 1;
  }
  1.5%, 97.5% {
    left: calc(50dvw - 325px);
    opacity: 1;
  }
  99.5% {
    left: calc(50dvw - 325px);
    opacity: 0;
  }
  100% {
    left: 100dvw;
    opacity: 0;
  }
}

.Card_InfoCards {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.Card_InfoCard {
  position: absolute;
  left: 100dvw;
  width: fit-content;
}

.Card_InfoCard span {
  font-family: var(--Card_Second_Font);
  font-size: var(--Card_Message);
  letter-spacing: 3px;
  display: block;
  margin: 1em 0em;
}

.Card_InfoCard--One {
  animation: infoCardOne 6s ease-in-out 9s;
  top: 2dvh;
}

.Card_InfoCard--Two {
  animation: infoCardTwo 8s ease-in-out 7s;
  top: 8dvh;
}

.Card_InfoCard--Three {
  animation: infoCardThree 4s ease-in-out 11s;
  top: 14dvh;
}

.Card_InfoCard--Four {
  animation: infoCardOne 6s ease-in-out 19s;
  top: 2dvh;
}

.Card_InfoCard--Five {
  animation: infoCardTwo 8s ease-in-out 17s;
  top: 8dvh;
}

.Card_InfoCard--Six {
  animation: infoCardThree 4s ease-in-out 21s;
  top: 14dvh;
}

@keyframes infoCardOne {
  0% {
    left: -50dvw;
  }
  8.3%, 83.4% {
    left: 40dvw;
  }
  85%, 100% {
    left: 100dvw;
  }
}

@keyframes infoCardTwo {
  0% {
    left: -50dvw;
  }
  6.25%, 75% {
    left: 43dvw;
  }
  76.25%, 100% {
    left: 100dvw;
  }

}

@keyframes infoCardThree {
  0% {
    left: -50dvw;
  }
  12.5%, 87.5% {
    left: 46dvw;
  }
  90%, 100% {
    left: 100dvw;
  }
}

.Card_InfoCard--Inactive {
  display: none;
}

.Card_Wish {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  animation: cardWish 15s ease-in-out 27s;
}

.Card_Wish p {
  font-family: var(--Card_Second_Font);
  font-size: var(--Card_Wish);
}

@keyframes cardWish {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.Card_Wish--Inactive {
  display: none;
}

@media (max-width: 1700px) {
  :root {
    --Card_Main_Font: "Monomaniac One", sans-serif;
    --Card_Second_Font: "Varela Round", sans-serif;
    --Card_Name: 400px;
    --Card_Message: 26px;
    --Card_Wish: 120px;
    --Open_Card_Button: 16px;
  }
}

@media (max-width: 1300px) {
  :root {
    --Card_Main_Font: "Monomaniac One", sans-serif;
    --Card_Second_Font: "Varela Round", sans-serif;
    --Card_Name: 300px;
    --Card_Message: 26px;
    --Card_Wish: 100px;
    --Open_Card_Button: 16px;
  }

  .Card_Photos--Image {
    width: 450px;
  }
  
  .Card_Photos--Image img {
    width: 100%;
  }
  
  .Card_Photos--Image--Inactive {
    display: none;
  }
  
  .Card_Photos--Image--One {
    position: absolute;
    left: 100dvw;
    opacity: 0;
    animation-name: imageOne;
    animation-duration: 38s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
  }
  
  @keyframes imageOne {
    0% {
      left: -450px;
      opacity: 1;
    }
    1.5%, 97.5% {
      left: calc(50dvw - 225px);
      opacity: 1;
    }
    99.5% {
      left: calc(50dvw - 225px);
      opacity: 0;
    }
    100% {
      left: 100dvw;
      opacity: 0;
    }
  }

  .Card_Wish {
    margin-top: 3em;
  }
  
}